<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819384421061-m517l9g13mbs7js900mrikkcusect2ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819384421061-m517l9g13mbs7js900mrikkcusect2ts</string>
	<key>API_KEY</key>
	<string>AIzaSyAOiNiNK5Uux20mFrNgJ05U2f00LtHtxnY</string>
	<key>GCM_SENDER_ID</key>
	<string>819384421061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookPedia</string>
	<key>PROJECT_ID</key>
	<string>book-pedia</string>
	<key>STORAGE_BUCKET</key>
	<string>book-pedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819384421061:ios:e53ec6f64ba39459a0feac</string>
</dict>
</plist>